<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314224757225-qir8b2efhbqv7l50605lb7t8dsl860hb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314224757225-qir8b2efhbqv7l50605lb7t8dsl860hb</string>
	<key>API_KEY</key>
	<string>AIzaSyA5x2tmJeHhaIDNYxXIZX8dyQ3zyOseR1I</string>
	<key>GCM_SENDER_ID</key>
	<string>314224757225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Jeremiah.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-eea5b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-eea5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314224757225:ios:afdb638e9d3e0a86792378</string>
</dict>
</plist>